<!--<nav>
    <div class="logo">Fish Gang</div>
    <div class="nav-links">
        <a href="https://students.cpcc.edu/~qkpuih00/web250/introduction.html">Introduction</a>
        <a href="https://students.cpcc.edu/~qkpuih00/web250/template.html">Template</a>
        <a href="https://students.cpcc.edu/~qkpuih00/web250/contract.html">Contract</a>

        <div class="submenu">
            <button class="submenu-btn">Project</button>
                <div class="submenu-container">
                    <a href="http://students.cpcc.edu/~qkpuih00/web250/brand.html">Brand</a>
                    <a href="#">link2</a>
                    <a href="#">link3</a>
                </div>
        </div>
        
        <div class="submenu">
            <button class="submenu-btn">Dropdown 2</button>
                <div class="submenu-container">
                    <a href="#">link4</a>
                    <a href="#">link5</a>
                    <a href="#">link6</a>
                </div>
        </div>
    </div>
    <div class="burger" onclick="navSlide()">
        <div class="line-one"></div>
        <div class="line-two"></div>
        <div class="line-three"></div>
    </div>
</nav>-->

<nav>
    <div class="logo">Fish Gang</div>
    <div class="nav-links">
        <a href="introduction.html">Introduction</a>
        <a href="template.html">Template</a>
        <a href="contract.html">Contract</a>

        <div class="submenu">
            <button class="submenu-btn">Project</button>
                <div class="submenu-container">
                    <a href="brand.html">Brand</a>
                    <a href="sam_used_cars/index.php">Sam Used Cars</a>
                    <a href="#">link3</a>
                </div>
        </div>
        
        <div class="submenu">
            <button class="submenu-btn">Dropdown 2</button>
                <div class="submenu-container">
                    <a href="#">link4</a>
                    <a href="#">link5</a>
                    <a href="#">link6</a>
                </div>
        </div>
    </div>
    <div class="burger" onclick="navSlide()">
        <div class="line-one"></div>
        <div class="line-two"></div>
        <div class="line-three"></div>
    </div>
</nav>