@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Heebo&display=swap');

/*fonts

font-family: 'Balsamiq Sans', cursive;
font-family: 'Hachi Maru Pop', cursive;


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: auto;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

/*nav begin*/
nav {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Hebo', sans-serif;
    background-color: #000000;
}

.logo {
    color: #ffffff;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links a, .submenu-btn {
    padding: 14px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
}

/*submenu begins*/
.submenu {
    overflow: hidden;
}

.submenu-container {
    display: none;
    position: absolute;
    min-width: 160px;
    font-size: 14px;
    letter-spacing: 3px;
    background-color: rgb(91, 124, 71);
}

.submenu:hover .submenu-container {
    display: block;
}

.submenu-container a {
    display: block;
    padding: 20px;
}

.submenu-container a:hover {
    background-color: rgb(153, 231, 129);
}

/*dropdown menu begins*/

/*set up burger menu toggle*/
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
}

/*contract page begins*/
#contract-header {
    font-family: 'Modoni Moda', serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contract-header h2 {
    margin-top: 10px;
    font-family: 'Hebo', sans-serif;
}

#contract-paragraph {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    text-align: left;
    font-family: 'Hebo', sans-serif;
}

#contract-paragraph p {
    padding-bottom: 20px;
}

/*introduction page begins*/
#introduction-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Modoni Moda', serif;
}

#introduction-header h1 {
    padding: 30px 0px;
}

#introduction-main {
    font-family: 'Hebo', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introduction-main li {
    line-height: 25px;
}

#introduction-inner-list {
    margin-left: 50px;
}

#brand_h1 {
    font-family: 'Hachi Maru Pop', cursive;
    padding: 50px;
    max-width: 1400px;
    margin: auto;
    background-image: url("../images/favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.brand_main {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
}

.brand_main p {
    margin-bottom: 20px;
    max-width: 600px;
}

.brand_main h5 {
    padding: 50px;
}

#brand_colors1 {
    background-color: #0F0F0F;
    color: white;
}
#brand_colors2 {
    background-color: #2D2E2E;
    color: white;
}
#brand_colors3 {
    background-color: #F7F7FF;
    color: black;
}
#brand_colors4 {
    background-color: #6B9080;
    color: white;
}
#brand_colors5 {
    background-color: #E3B505;
    color: white;
}

/*footer begins*/
footer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-spacing: 10px;
}

footer p {
    margin-top: 20px;
}

.button a {
    background-color: rgb(2, 104, 7);
    color: white;
    padding: 10px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.button a:hover {
    background-color: white;
    color: black;
    border: solid rgb(211, 211, 211);
}

@media(max-width: 970px) {
    body {
       overflow-x: hidden;
    }

    /*Mobile nav begin*/
    .nav-links {
        position: absolute;
        height: 92vh;
        right: 0px;
        top: 8vh;
        background-color: #000000;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;    
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0);
    }

    /*submenu begins*/
    .submenu-container {
        position: relative;
    }

    .active {
        background-color: rgb(153, 231, 129);
    }

}